body{
    background-image: url("images/bg.jpg");
     background-repeat: no-repeat;
     background-size: cover;
}

.container{
    /*makes it so the items will be in a row*/
    display:flex;
}

.item{
    /*flex:1 tells that all items should share the space equally*/
    flex:1;
    text-align:center;
}

h3{
    /*just centers the joke and medallion text*/
    text-align:center;
    background-color:white;
    color:black;
}

h4{
    /*for the joke types*/
    background-color:white;
    color:black;
    width:50%;
    font-size:20px;
    text-align:center;
}

.med{
    display:block;
    margin:auto;
}

